.page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px;

}

/* .form__field-input {
    display: block;
} */

.form__field-container {
    width: 400px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

